<div class="container body-content">
    <div class="well">
        <div class="row">
        <div class="col-md-8">
            <form class="form-inline">
            {{#if isUserAuthorized}}
                <div class="form-group">
                    <label for="email" class="h4">Email:</label>
                    <input type="text" class="form-control" id="email" value="{{user.email}}" disabled>
                </div>
            {{/if}}
                <div class="form-group">
                    <label for="fullName" class="h4">Full Name:</label>
                    <input type="text" class="form-control"  id="fullName" value="{{user.fullName}}" disabled>
                </div>
            </form>
            </div>
        </div>
    </div>

    <div class="well">
    <h3>Articles:</h3>
    <div class="row">
        {{#each user.articles}}
            <div class="col-md-6">
                <article>
                    <header>
                        <h4>{{ this.title }}</h4>
                    </header>
                    <p>
                        {{ this.content }}
                    </p>
                    <p>
                        {{#each this.tags }}
                            <a class="btn btn-default btn-xs"
                               href="/tag/{{this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </p>
                        <div class="pull-right">
                            <a class="btn btn-default btn-xs" href="/article/details/{{this.id}}">Read more &raquo;</a>
                {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-xs" href="/article/edit/{{this.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-xs" href="/article/delete/{{this.id}}">Delete &raquo;</a>
                {{/if}}
                        </div>
                </article>
            </div>
        {{/each}}
        </div>
    </div>
    <div class="row">
        {{! list comments made by user}}
    </div>
</div>