<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>{{article.title}}</h2>
                </header>

                <p>
                    {{article.content}}
                </p>

                <small class="author">
                    {{article.author.fullName}}
                </small>

                <footer>
                    <div class="pull-left">
                        {{# each article.tags}}
                            <a class="btn btn-default btn-xs"
                               href="/tag/{{this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </div>
                    <div class="pull-right">
                        {{#if isUserAuthorized}}
                            <a class="btn btn-success btn-sm" href="/article/edit/{{article.id}}">Edit &raquo;</a>
                            <a class="btn btn-danger btn-sm" href="/article/delete/{{article.id}}">Delete &raquo;</a>
                        {{/if}}
                        <a class="btn btn-default btn-sm" href="/">Back &raquo;</a>
                        <a class="btn btn-default btn-sm" href="/comment/create/{{article.id}}">Add Comment &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>

    <br/>

        {{#if isAdmin}}
        {{#each article.comments}}
        <div class="row">
                <div class="panel panel-default col-md-6">
                    <div class="panel-heading"> Comment by <a href="mailto:{{this.authorEmail}}"> {{this.authorFullName}} </a></div>
                    <div class="panel-body">
                    {{this.content}}
                    </div>
                    <div class="panel-footer">
                        <a href="/admin/comment/edit/{{this.id}}" class="btn btn-success btn-xs">Edit Comment</a>
                        <a href="/admin/comment/delete/{{this.id}}" class="btn btn-danger btn-xs">Delete Comment</a>
                    </div>

                </div>
            </div>
    {{/each}}
    {{/if}}

    {{#unless isAdmin}}
        {{#each article.comments}}
            <div class="row">
                <div class="panel panel-default col-md-6">
                    <div class="panel-heading"> Comment by <a href="mailto:{{this.authorEmail}}"> {{this.authorFullName}} </a></div>
                    <div class="panel-body">
                        {{this.content}}
                    </div>
                </div>
            </div>
        {{/each}}
    {{/unless}}
</div>
</div>